<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 系统模块UserInfoDAO接口Mapping映射 -->  
<mapper namespace="com.neusoft.wuyemis.feeinfo.mappers.IUserInfoMapper">
  
  <cache/>
  <!-- 没有关联属性的结果映射 -->
  <resultMap id="UserInfoResultMap" type="UserInfo" >
  	<id property="no" column="RoomFeeNO" />
  	<result property="name" column="RNAME" />
  </resultMap>
  
  <!-- 使用内嵌式ResultMap实现方式的关联属性的结果映射 -->
  <resultMap id="RoleWithEmployees" type="Role" extends="RoleResultMap" >
  	<collection property="employees" resultMap="com.neusoft.oa.hr.mapper.IEmploueeMapper.EmployeeResultMap" />
  </resultMap>
  
  
  <insert id="insert"  keyProperty="no"   keyColumn="RNO" useGeneratedKeys="true" flushCache="true" >
   insert into userinfo (SPay) values (#{name})
  
  </insert>
  
  <update id="update" flushCache="true">
   update userinfo set SPay=#{spay} where RoomFeeNO=#{no}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from userinfo where RoomFeeNO=#{no}
  </delete>
  <!-- 查询所有爱好列表，不取关联的属性 -->
  <select id="selectListByAll" resultMap="RoleResultMap">
   select * from userinfo
  </select>
  
  <!-- 取得所有爱好列表,分页模式 -->
  <select id="selectListByAllWithPage" resultMap="RoleResultMap">
   select * from userinfo limit #{start},#{rows}
  
  </select>
  
  <select id="selectByNo"  resultMap="RoleWithEmployees">
  select a.*,c.* from RoomFee a left outer join room b on a.RoomFeeNO=B.RNO
          left outer join roomfeepayrecord c on b.EMPID=c.EMPID
    where a.RoomFeeNO=#{no}
  
  </select>
  
  <select id="selectCountByAll" resultType="int">
  select IFNULL(count(RoomFeeNO), 0) from oa_role
  </select>
   
  
</mapper>