<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 系统模块ModuleDAO接口Mapping映射 -->  
<mapper namespace="com.neusoft.pm.mapper.IFeeItemMapper">
  
  <cache/>
  <!-- 没有关联属性的结果映射 -->
  <resultMap id="RoleResultMap" type="Role" >
  	<id property="itemno" column="ItemNo" />
  	<result property="itemname" column="ItemName" />
  </resultMap>
  
  <!-- 使用内嵌式ResultMap实现方式的关联属性的结果映射 -->
  <resultMap id="RoleWithEmployees" type="Role" extends="RoleResultMap" >
  	!!!<collection property="employees" resultMap="com.neusoft.oa.property.mapper.IFeeItemMapper.FeeResultMap" />
  </resultMap>
  
  
  <insert id="insert"  keyProperty="no"   keyColumn="RNO" useGeneratedKeys="true" flushCache="true" >
   insert into feeitem (ItemName) values (#{name})
  
  </insert>
  
  <update id="update" flushCache="true">
   update feeitem set ItemName=#{name} where ItemNo=#{no}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from feeitem where ItemNo=#{no}
  </delete>
  <!-- 查询所有爱好列表，不取关联的属性 -->
  <select id="selectListByAll" resultMap="RoleResultMap">
   select * from feeitem
  </select>
  
  <!-- 取得所有爱好列表,分页模式 -->
  <select id="selectListByAllWithPage" resultMap="RoleResultMap">
   select * from feeitem limit #{start},#{rows}
  
  </select>
  
  
  <!-- 涉及外键查询 -->
  <select id="selectByNo"  resultMap="RoleWithEmployees">
  select a.*,c.* from oa_Role a left outer join oa_employeeRole b on a.ItemNo=B.ItemNo
          left outer join oa_employee c on b.EMPID=c.EMPID
    where a.ItemNo=#{no}
  
  </select>
  
  <select id="selectCountByAll" resultType="int">
  select IFNULL(count(RNO), 0) from oa_role
  </select>
   
  
</mapper>